.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  .movie-nom-container {
    display: flex;
    flex-direction: row;

    .containers {
      width: 100vw;
  
      .cards {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}