@import "./mixins.scss";
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bodoni+Moda&display=swap');

.button {
  border-radius: 1rem;
  border: 0;
  font-family: "Abel";
  font-weight: 700;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
}

.button:hover {
  @include button-active;

  color: $black;
  background-color: $white;
  border: 2px solid transparent;
}

.button--danger {
  color: $danger-color;
  border-color: $danger-color;
  background-color: transparent;
}

.button--confirm {
  color: $confirm-color;
  border-color: $confirm-color;
  background-color: transparent;
}

.button--search {
  color: $white;
  border-color: $search-color;
  background-color: $search-color;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.25rem;
}

.button--danger:hover {
  color: $white;
  background-color: $danger-color;
}

.button--confirm:hover {
  color: $white;
  background-color: $confirm-color;
}

.button--search:hover {
  color: $search-color;
  background-color: $white;
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: $confirm-color;
  color: $white;
  background-color: $confirm-color;
  // opacity: 0.7;
}