@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bodoni+Moda&display=swap');
 
 .navigation-bar {
   .header{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;

     img {
       margin-top: 5rem;
       margin-bottom: 4rem;
       height: 8rem;
     }
   }

  .logo {
    font-family : 'Bodoni';
    font-size   : 36px;
    height: 45px;
    padding: 1rem;
  }
}

