 .navigation-bar {
   .header{
     display: flex;
     flex-direction: row;
   }
  // position        : fixed;
  // top             : 0;
  // height          : 120px; 
  // width           : 100vw;
  // display         : flex;
  // flex-direction  : row;
  // justify-content : space-between;
  // align-items     : center;
  // box-sizing      : border-box;
  // color           : white;
  // padding         : 1.5em;
  .logo {
    font-family : 'Bungee', cursive;
    font-size   : 36px;
  }
}

