@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bodoni+Moda&display=swap');
 
 .navigation-bar {
   .header{
     display: flex;
     flex-direction: row;
     align-items: center;

     img {
       margin: 1rem;
       height: 45px;
     }
   }

  .logo {
    font-family : 'Bodoni';
    font-size   : 36px;
    height: 45px;
    padding: 1rem;
  }
}

