@import "./variables.scss";

// .none {
//   height: 100vh;
//   display: flex;  
//   align-items: center;
//   justify-content: center;
// }

.search-box{


  width: 40rem;
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2rem;
  // margin-right: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: $search-color;
  color: black;
  background-color: $white;
  outline: none;
  // text-align: center;
}

